<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/modern-business.css" rel="stylesheet">
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Recipes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-warning fixed-top">
            <div class="container">
                <a class="navbar-brand ml-3" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="brand" src="~/images/icon.png" alt="Logo" style="width:30px">
                </a>
                <a class="navbar-brand"  style="color: #159929;font-family:'Segoe Script';font-weight:900" href="/">Keşke-K</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" style="color:black" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Ünlü Şeflerimiz</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bölgelerin Yemekleri
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" href="/region/foods?region=1">Marmara Bölgesi</a>
                                <a class="dropdown-item" href="/region/foods?region=2">Karadeniz Bölgesi</a>
                                <a class="dropdown-item" href="/region/foods?region=3">Ege Bölgesi</a>
                                <a class="dropdown-item" href="/region/foods?region=4">Akdeniz Bölgesi</a>
                                <a class="dropdown-item" href="/region/foods?region=5">İç Anadolu Bölgesi</a>
                                <a class="dropdown-item" href="/region/foods?region=6">Doğu Anadolu Bölgesi</a>
                                <a class="dropdown-item" href="/region/foods?region=7">Güney Doğu Anadolu Bölgesi</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" asp-area="" asp-controller="Language" asp-action="Index">Diller</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Index">Kategoriler</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Region" asp-action="Index">Bölgeler</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Gender" asp-action="Index">Cinsiyetler</a>
                                <a class="dropdown-item" asp-area="" asp-controller="WorldCuisines" asp-action="Index">Dünya Mutfakları</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Chef" asp-action="Index">Şefler</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="Index">Yemekler</a>
                            </div>
                        </li>

                    </ul>
                    @* <form>
            <button class="btn btn-outline-light my-2 my-sm-0" style="color:black" type="submit">Sign in</button>
        </form> *@

                    <div>
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <partial name="_LoginPartial" />
                            <ul class="navbar-nav flex-grow-1">
                               
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-warning footer text-muted">
        <div class="container">
            &copy; 2020 - Recipes
            <a asp-area="" asp-controller="Home" asp-action="BizeUlasin">Bize Ulaşın</a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
